
a {
    text-decoration: none;
    color: black !important;
    text-decoration: none
}

td.rank, td.name, td.hours, td.vac, td.location, td.lastseen {
}

.color1 {
    color: #dc3545;
    /* text-shadow: 0 0 2px #000000; */
}

.color2 {
    color: #28a745;
    /* text-shadow: 0 0 2px #000000; */
}

.color3 {
    color: #fd7e14;
    /* text-shadow: 0 0 2px #000000; */
}

.color4 {
    color: #007bff;
    /* text-shadow: 0 0 2px #000000; */
}

.color5 {
    color: #20c997;
    /* text-shadow: 0 0 2px #000000; */
}

.color6 {
    color: #e83e8c;
    /* text-shadow: 0 0 2px #000000; */
}

.color7 {
    color: #343a40;
    /* text-shadow: 0 0 2px #000000; */
}

.color8 {
    color: #343a40;
    text-shadow: 0 0 1px #000000;
}

.color9 {
    color: #343a40;
    /* text-shadow: 0 0 2px #000000; */
}